  .App-header {
    background-color: #FFE600;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #333333;
  }

  .Buscador {   
    
    padding: 7px 60px 9px 15px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0,0,0,.2); 

  }

  .Logo {
    margin:13px;
    padding-left: 23px;
    cursor: pointer;
  }

  .SearchButton {
    height: 35px;
    border-radius: 2px;
    background-color: #eeeeee;
    border: 0 rgba(0,0,0,.2);
    margin-top: -35px;
    display: flex;
    float: right;
    margin-right: -31px;
  }
  
  .SearchIcon {
    padding-top: 7px;
    padding-left: 4px;
  }

  .m-13{
    margin-top: 10px;
  }
  